
@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto.eot');
	src: url('./../fonts/Roboto.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Roboto.woff') format('woff'),
		url('./../fonts/Roboto.ttf') format('truetype');
}

body{
    font-family:  'Roboto';
}

header {
    display: flex;
    padding: 20px;
  }

header img {
    padding-right:900px;
}

header nav a{
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo{
    width: 100px;
    height: 20px;
    
}

.hero{
    width: 400px;
    height: 350px;
    overflow: hidden;
    
}

.flex{
    display: flex;
    justify-content: center;
}

.centrer{
    margin-right: 60px;
    padding-top: 40px;
}

h1{
    font-size: 30px;
}

.centrer h3{
    color: #ef5466;
}

.phone{
    width: 200px;
    height: 350px;
}

.space{
    padding:  80px 280px;
    background-color: #f9f9f9;
}

.color{
    background-color:#ef5466; 
    color: white;
}

.center{
    margin-left: 300px;
}

.center2{
    margin-right: 800px;
}

.color p{
    font-size: 10px;
}

.aside{
    margin-left: 35px;
    padding-top: 55px;
}

.aside p{
    font-size: 15px;
}

.aside2{
    margin-left: 55px;
}

.design{
    background-color: #ef5466;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 0.8em;
    padding: 0.9em 3em;
    cursor: pointer;
}

.design1{
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.9em 3em;
    cursor: pointer;
}

.design2{
    background-color: white;
    border: 2px solid #2d96c8;
    border-radius: 50px;
    color:#2d96c8;
    font-weight: bold;
    font-size: 0.5em;
    padding: 0.9em 3em;
    cursor: pointer;
    
}

.design3{
    background-color:#2d96c8;
    border: 2px solid;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 0.5em;
    padding: 0.9em 3em;
    cursor: pointer;
}


     
.tableau{
    width: 150px;
    height: 310px;
    background-color: white;
    display: inline-block;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    border-spacing: 11px;
}

.placer{
    margin-left: 3px;
}

.colorblu{
    background-color: #2d96c8;
}

.color1{
    background-color: #f9f9f9;
    padding:  8px 180px;
}

.space2{
    padding:  50px 280px;
}

.bouton{
    padding-top: 40px;
}

.design4{
    background-color: #f9f9f9 ;
    border: 2px solid;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    font-size: 0.5em;
    padding: 0.9em 4em;
    cursor: pointer;
}

header{
    box-shadow:  rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;;
}

.design5{
    background-color: #ef5466;
    border: 2px solid #ef5466;
    border-radius: 50px;
    color: #fff;
    font-size: 0.6em;
    padding: 0.9em 3.5em;
    cursor: pointer;
}

.design6{
    background-color:#8e8e94;
    border: 2px solid #8e8e94;
    border-radius: 50px;
    color: #fff;
    font-size: 0.6em;
    padding: 0.9em 3.5em;
    cursor: pointer;
}

.bordure{
    background-color: white;
    height: 15px;
}



ul{
    list-style: none;
}
li a{
    text-decoration: none;
    color:white
}

footer{
    background-color: black;
  
}

.taille ul li{
    margin: 10px 0;
    font-size: 10px;
}



.tail p{
    margin: 5px 0;
}

.pied ul {
    margin: 30px 90px;
}

.reduction{
    color: #ef5466;
}

.center2 a{
    text-decoration: none;
    color:#2d96c8;
} 





